@page "{id:int}"
@model BookstoreManagementSystem.Pages.Distributors.EditModel
@{
    ViewData["Title"] = "Editar Distribuidor";
}

<h1>Editar Distribuidor</h1>

<form method="post">
    <input type="hidden" asp-for="Distributor.Id" />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Distributor.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Distributor.ContactEmail" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input asp-for="Distributor.Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Dirección</label>
        <input asp-for="Distributor.Address" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
